@model HomeworkThree.Models.Product

<h2>Edit Product</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    <br />
    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description)
    <br />
    @Html.LabelFor(m => m.Price)
    @Html.TextBoxFor(m => m.Price)
    <br />
    @Html.LabelFor(m => m.Category)
    @Html.TextBoxFor(m => m.Category)
    <br />
    <input type="submit" value="Update Product" />
}